.block-left{
	width:15%;
	overflow:auto;
	float:left;
}


.block-right{
	width:75%;
	overflow:auto;
}

.chosen{
	color: #FF719A;
}


.menu{
	list-style-type: none;
    margin-left: 0;
    padding-left: 0;
	text-align: left;
	transition: 0.4s;
	border: none;
	outline: none;
}


@import url('https://fonts.googleapis.com/css2?family=Suez+One&display=swap');

* {
	margin: 0;
	padding: 0;
}

::-webkit-scrollbar {
    width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #FF719A;
}
a:hover {
	color: #ff6957;
	border-color: #ff6957;
}
a {
	color: #FF719A;
	border-bottom: 2px solid #FF719A;
	text-decoration: none;
}

a[href^="https://vk.com"]:after {
	content: url('https://vk.com/images/icons/favicons/fav_logo.ico');
}
pre .preloader div, pre .preloader{
	height: 0px;
	width: 0px;
}
pre {
    clear: both;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
    padding: 0px;
    color: #fff;
    background: rgba(32,28,41,.75);
    word-break: normal;
    hyphens: none;
    position: relative;
    line-height: 28px;
    border-radius: 8px;
    min-width: 100px;
    max-width: 100%;
    overflow: hidden;
}
pre code {
    background: 0 0;
    padding: 15px 20px 12px 22px;
    white-space: pre;
    -webkit-overflow-scrolling: touch;
    display: block;
    overflow-x: scroll;
    max-width: 100%;
    min-width: 100px;
    font-size: 16px;
    line-height: 1.75;
}

html {
	min-height: 100%;
	background: linear-gradient(-225deg, #FFE29F 0%, #FFA99F 48%, #FF719A 100%);
}

body {
	background: #0000;
	color: #F1F2F3;
	font-size:25px;
}

.block-left {
	width: auto;
	max-width: 30%;
	overflow-x: hidden;
    float: left;
	height: 100vh;
	background: #000000DD;
	border-right: 2px solid #FF719A99;
}

input#search[type="search"]::placeholder { color: #fff; }
input#search, input#search:focus, input#search:active, input#search:hover {
    outline: 0;
    outline-offset: 0;
	color: white;
	text-align: center;
	width: 100%;
	background: #0000;
	border-color: #0000;
	border-bottom: 2px solid #FF719A;
}

.block-right::before {
	content: 'M.E.C';
	z-index: 9999;
	font-size: 5vh;
	background: linear-gradient(15deg, #FFE29F 0%, #FFA99F 30%, #FF719A 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	right: 10px;
    height: 10vh;
    position: fixed;
	font-family: 'Suez One', serif;
}

.block-right {
	padding-left: 10px;
	background: #000000CC;
	height: 100vh;
	width: auto;
	min-height: 100vh;
    overflow: auto;
}

.chosen_li {
	color: #FF719A;
	font-size: 20px;
}

#menu li:hover {
	color: #FFA99F;
}

#menu li {
	cursor: pointer;
	font-size: 20px;
	height: 25px;
	padding-right: 5px;
	padding-left: 5px;
}

#menu li:nth-child(2n+1) {
	background: #FF719A10;
}

.block-left.hide {
	width: 0;
}

#hide_btn, #show_btn{
    position: fixed;
    top: 50%;
    height: 50px;
    width: 25px;
    border-radius: 0px 25px 25px 0px;
    outline: 0;
    outline-offset: 0;
    color: white;
    text-align: center;
    background: #FF719A99;
    border-color: #FF719A99;
    z-index:99999;
    margin-left: -2px;

}


html {
    overflow: hidden;
}

@media (max-width: 700px) {
    .block-left {
        max-width: 100vw;
    }

    .block-left.show {
        height: 100vh;
        width: 99.444%;
    }

    .block-left.hide {
        width: 0vw;
    }

    .block-right.hide {
        display: none;
    }
    #hide_btn {
        right:0px;
        border-radius: 25px 0px 0px 25px;
    }
		h1{
			font-size: 30px;
		}
}

.padding {
	margin-bottom: 30vh;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

.method:hover {
    color: #ff6957;
    border-color: #ff6957;
    cursor: pointer;
}
.required {
    color: #b51717;
}
.method {
    color: #FF719A;
    border-bottom: 2px solid #FF719A;
    text-decoration: none;
}
/*
.method::after {
    content: url('../../favicon.png');
}*/
